.game-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

// table {
//   border: 1px solid black;
//   background: black;
// }


tbody {
  box-sizing: border-box;
}

tr {
  flex-wrap: wrap;
  display: flex
}

td {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vw;
  width: 7vw;
  margin: 0.5px;
  border: 2px solid black;
  background: white;
  font-size: 1.5em;
}

.values {
  border: none;
  background: none;
  margin-top: 10px;

  td {
    margin: 10px;
    border: 3px solid black;
  }
}

.active-tile {
  background-color: #60fa60b4;
}


#score-grid {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#row-grid {
  display: flex;
  align-items: flex-end;
}

#grid {
//   border-top: 2.5px solid black;
//   border-left: 2.5px solid black;
//   background: black;
}

#score_row {
  margin-left: 2.5px;
//   background: black;
//   border-left: 2.5px solid black;
//   border-top: 2.5px solid black;
}

#score_col {
//   background: black;
//   border: 2.5px solid black
  margin-top: 2.5px;
  td:last-child {
    margin-left: 2.5px;
  }

}
