<div class="game-wrapper" data-controller="game">
  <h1>DETRAK</h1>
  <table id="grid">
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <table class="values">
    <tbody>
      <tr>
        <td data-game-target="dice1"></td>
        <td data-game-target="dice2"></td>
      </tr>
    </tbody>
  </table>
</div>
