<div class="game-wrapper" data-controller="game">
  <h1>DETRAK</h1>
  <div id="score-grid">
    <div id="row-grid">
      <table id="grid">
        <tbody>
          <tr>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
          </tr>
          <tr>
            <td>V</td>
            <td>V</td>
            <td>V</td>
            <td>V</td>
            <td>V</td>
          </tr>
          <tr>
            <td>V</td>
            <td>V</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
          </tr>
          <tr>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
          </tr>
          <tr>
            <td>X</td>
            <td>V</td>
            <td>X</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <div class="d-none" id="score_row">
        <table>
          <tbody>
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="d-none" id="score_col">
      <table>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <table class="values">
    <tbody>
      <tr>
        <td data-game-target="dice1"></td>
        <td data-game-target="dice2"></td>
      </tr>
    </tbody>
  </table>
</div>
